#page {
  display: grid;
  font-family: "Libertine";
  width: 100%;
  height: 200px;
  grid-template: [header-left] "head head" 30px [header-right]
                 [main-left]   "nav  main" 1fr  [main-right]
                 [footer-left] "nav  foot" 30px [footer-right]
                 / 120px 1fr;
}

header {
  background-color: lime;
  grid-area: head;
}

nav {
  background-color: lightblue;
  grid-area: nav;
}

main {
  background-color: yellow;
  grid-area: main;
}

footer {
  background-color: gray;
  grid-column: foot;
}

body,td,th,input{
    font-family: sans-serif;
    font-size: 12px;
}
td {
    background-color: lightgrey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #000;
    padding: 3px;
    align: center;
}

th {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    background-color: #61D7A4;
    padding: 4px;
}

.datavalues {
    background-color: white;
    border-width: 1px;
    padding: 2px;
    width: 100%;
}

#debug {
    display: none;
    background-color: gray;
}

span {
    font-size:15px;
    margin-left:10px;
}
